<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <p id="notice" style="color:orange;"><%= notice %></p>
      <div class="col-lg-12 d-flex flex-row">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">User Details</h2>
      </div>
      <% if @user.present? %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>User Image</th>
              <th>User Email</th>
              <th>User Name</th>
              <th>Mobile Number</th>
              <th>Source Ip</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @user.id %></td>
              <td><img style="width:20px;" src="<%=@user.try(:social_img_url)%>" onerror="this.onerror=null;this.src='https://cdn.pixabay.com/photo/2014/03/24/17/21/wrong-295503_640.png';" /></td>
              <td><%= @user.social_email %></td>
              <td><%= @user.social_name %></td>
              <td><%= @user.mobile_number %></td>
              <td><%= @user.source_ip %></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>Social Token</th>
              <th>Social Type</th>
              <th>OAuth Res</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @user.social_token %></td>
              <td><%= @user.social_type %></td>
              <td><%= @user.oauth_response %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <h1 class="not-found">user Not Found</h1>
      <% end %>
    </div>
  </div>
