<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <p id="notice" style="color:orange;"><%= notice %></p>
      <div class="col-lg-12 d-flex flex-row">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">Affiliate Details</h2>
      </div>
      <% if @affiliate.present? %>
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Paytm Number</th>
              <th>UPI ID</th>
              <th>Campaign Name</th>
              <th>Refer Code</th>
              <th>Referrers Count</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @affiliate.id %></td>
              <td><%= @affiliate.paytm_number %></td>
              <td><%= @affiliate.upi_id %></td>
              <td><%= @affiliate.campaign_name %></td>
              <td><%= @affiliate.refer_code %></td>
              <td><%= @affiliate.referrers_count %></td>
              <td><%= l(@affiliate.created_at, format: :long) %></td>
              <td><%= l(@affiliate.updated_at, format: :long) %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <h1 class="not-found">Affiliate Not Found</h1>
      <% end %>
    </div>
  </div>
</div>
