<!DOCTYPE html>
<html>
  <head>
    <title>GrowBuddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"  />
  </head>
  <body class="flex flex-col min-h-screen bg-gray-200">
    <main class="flex-grow">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
